<div id="accw">
	<section id="cm">
		<div class="pr">
			<div id="acmenuwrap">
				<div class="fr">
					<img id="acmlogo" src="https://static.musik.dk/upload/files/logodark.svgz">
				</div>
				<ul id="acmenu">
					<li id="acnavimg">
						<a ui-sref="artist.main">
							<img width="60" ng-if="artistcover" ng-src="{{artistcover}}" alt="{{name}}" />
							<img width="60" ng-if="!artistcover" ng-src="/demobilleder/hlowq.jpg" />
						</a>
					</li>
					<li id="acsep"></li>
					<li>
						<a ui-sref="artist.main" ui-sref-active="selected">
							<h2>Oversigt</h2>
						</a>
					</li>
					<li ng-if="artist.releases">
						<a ui-sref="artist.releases" ui-sref-active="selected">
							<h2>Udgivelser</h2>
						</a>
					</li>
					<li ng-if="artist.videos">
						<a ui-sref="artist.videos" ui-sref-active="selected">
							<h2>Videoer</h2>
						</a>
					</li>
					<li ng-if="artist.contests">
						<a href="" ui-sref-active="selected">
							<h2>Konkurrence</h2>
						</a>
					</li>					
					<li ng-if="artist.merchandise">
						<a href="" ui-sref-active="selected">
							<h2>Merchandise</h2>
						</a>
					</li>
					<li ng-if="artist.concerts">
						<a ui-sref="artist.concerts" ui-sref-active="selected">
							<h2>Koncerter</h2>
						</a>
					</li>
					<li ng-if="artist.polls">
						<a href="" ui-sref-active="selected">
							<h2>Afstemning</h2>
						</a>
					</li>
					<li ng-if="artist.quizzes">
						<a ui-sref="artist.quizzes" ui-sref-active="selected">
							<h2>Quiz</h2>
						</a>
					</li>					
				</ul>

			</div>
		</div>
		<div ui-view></div>
	</section>
</div>
